.header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.082);
    align-items: center;
    transition: 0.6s;
    z-index: 100000;
    padding: 10px 100px;
}

.sticky {
    background-color: #3F3D56;
    padding: 5px 100px;
}

.logo {
    position: relative;
    color: #222222;
    transition: 0.6s;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 2px;
}

.logo:hover {
    text-decoration: none;
    color: #3F3D56;
}

.link {
    color: #3F3D56;
    margin: 0 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: 0.6s;
}

.link:hover {
    text-decoration: none;
    color: #FFAA00;
}

.sticky .logo {
    position: relative;
    color: white;
    transition: 0.6s;
    font-weight: bold;
    font-size: 1.8em;
    letter-spacing: 2px;
}